<app-navbar></app-navbar>
  
<div class="container">
    <div class="container mt-4">
        <table class="table mt-3 mx-auto">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Country Code</th>
                    <th scope="col">Market Cap</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let CompanyItem of data">
                    <td>{{CompanyItem.id}}</td>
                    <td>{{CompanyItem.name}}</td>
                    <td>{{CompanyItem.countryCode}}</td>
                    <td>{{CompanyItem.market_cap}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
